html, body {
    height: 100%;
    background-color:#C02040;
    font-family:arial;
    text-align:center;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

a {
  color: white;
  text-decoration: underline;
}